@import url("https://use.typekit.net/tmc3vuo.css");

html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin: auto;
}

body {
  font-family: zuume, sans-serif;
  font-family: zuume-cut, sans-serif;
  font-family: helvetica-neue-lt-pro, sans-serif;
}