@import url("https://use.typekit.net/tmc3vuo.css");

html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

body {
  font-family: zuume, sans-serif;
  font-family: zuume-cut, sans-serif;
  font-family: helvetica-neue-lt-pro, sans-serif;
}

#home_page {
  background-color: #f0eee6;
}

#episode_1 {
  background-color: #d9dde9;
}

#episode_2 {
  background-color: #111c45;
}

#episode_3 {
  background-color: #163355;
}

#episode_4 {
  background-color: #f5fdff;
}

#episode_5 {
  background-color: #a2def8;
}

#episode_6 {
  background-color: #000000;
}
